.info {
    background-color: #2470c7;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cerrar {
    background-color: #eb372a;
    color: white;
    padding: 7px 10px;
    margin-left: 210px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
}

p {
    text-align: justify;
}

.info:hover {
    background-color: #0b51a1;
}

.cerrar:hover {
    background-color: #be0d0d;
}

.container {
    max-width: fit-content;
}

h1 {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

img {
    border-radius: 5px;
    width: 440px;
}

.card {
    border-radius: 5px;
    background-color: #9e9e9e4b;
    padding: 20px;
    width: 400px;
    margin-top: 10px;
    box-sizing: content-box;
}
