/* ======= FORMULARIOS ======= */
.form-inline {
  display: flex;
  align-items: center;
  gap: 10px;
}

input {
  flex-grow: 1;
  margin: 0 8px 0 0;
}

button {
  background-color: var(--color-naranja);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 200ms ease;
  margin: 0;
}

button:hover {
  background-color: var(--color-naranja-oscuro);
}

.container,
div.form-box {
  border-radius: 5px;
  background-color: #ffe8b0;
  padding: 20px;
  min-width: 200px;
  max-width: 450px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: auto;
}

.container .container,
div.form-box {
  background-color: #f7c547;
}

input[type=text],
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.enviar,
.deshabilitado {
  width: 100%;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.enviar {
  background-color: var(--color-naranja);
  transition: background-color 200ms ease;
}

.enviar:hover {
  background-color: var(--color-naranja-oscuro);
}

.deshabilitado {
  background-color: rgba(var(--color-naranja-oscuro-rgb), 0.60);
  cursor: not-allowed;
}

h1 {
  margin-bottom: 10px;
  text-align: center;
  color: var(--color-fondo);
}

.alerta {
  background-color: #ff8d8d;
  color: #d32424;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  margin-top: -10px;
  margin-bottom: 10px;
}
