<nav class="navbar">
  <a routerLink="/inicio" class="navbar-title">Proyecto Angular</a>

  <ul id="main-nav" class="navbar-list" [class.open]="isMenuOpen">

    <!-- Etapa 2 -->
    <li class="dropdown" (mouseenter)="openDropdown('e2')" (mouseleave)="closeDropdown()">
      <button class="dropbtn" (click)="toggleDropdown('e2')" [class.active]="activeBtn === 'e2'">Etapa 2</button>
      <ul class="dropdown-content" [class.show]="dropdownOpen === 'e2'">
        <li><a routerLink="/enlace-clase" (click)="closeMenu()">Class Binding</a></li>
        <li><a routerLink="/enlace-propiedades" (click)="closeMenu()">Property Binding</a></li>
        <li><a routerLink="/variables-plantilla" (click)="closeMenu()">Variables de Plantilla</a></li>
        <li><a routerLink="/ng-if" (click)="closeMenu()">Directiva ngIf/Else</a></li>
        <li><a routerLink="/ng-for" (click)="closeMenu()">Directiva ngFor</a></li>
      </ul>
    </li>
  
    <!-- Etapa 3 -->
    <li class="dropdown" (mouseenter)="openDropdown('e3')" (mouseleave)="closeDropdown()">
      <button class="dropbtn" (click)="toggleDropdown('e3')" [class.active]="activeBtn === 'e3'">Etapa 3</button>
      <ul class="dropdown-content" [class.show]="dropdownOpen === 'e3'">
        <li><a routerLink="/formulario" (click)="closeMenu()">Plantilla</a></li>
        <li><a routerLink="/validacion" (click)="closeMenu()">Validaciones</a></li>
        <li><a routerLink="/reactivos" (click)="closeMenu()">Reactivos</a></li>
        <li><a routerLink="/padre" (click)="closeMenu()">Padre 1</a></li>
        <li><a routerLink="/padre2" (click)="closeMenu()">Padre 2</a></li>
      </ul>
    </li>
  
    <!-- Etapa 4 -->
    <li class="dropdown" (mouseenter)="openDropdown('e4')" (mouseleave)="closeDropdown()">
      <button class="dropbtn" (click)="toggleDropdown('e4')" [class.active]="activeBtn === 'e4'">Etapa 4</button>
      <ul class="dropdown-content" [class.show]="dropdownOpen === 'e4'">
        <li><a routerLink="/padre3" (click)="closeMenu()">Padre 3</a></li>
      </ul>
    </li>
  
  </ul>
  

  <button class="menu-toggle" (click)="toggleMenu()" aria-label="Abrir menú" [attr.aria-expanded]="isMenuOpen">
    <span class="bar" [class.active]="isMenuOpen"></span>
    <span class="bar" [class.active]="isMenuOpen"></span>
    <span class="bar" [class.active]="isMenuOpen"></span>
  </button>
</nav>

<main>
  <router-outlet></router-outlet>
</main>

<footer class="footer">
  <p>José Arath Barajas Ortega</p>
  <p>Matrícula: 2209836</p>
  <p>Aula: 146 Grupo: 5L1</p>
</footer>
