html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
}

body {
  font-family: "Consolas", sans-serif;
  box-sizing: border-box;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  background: #ff8b07;
  padding: 10px 0; 
  margin: 0 0 10px 0;
  box-sizing: border-box;
}

.navbar-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.navbar-list li {
  margin: 0 20px;
}

.navbar-list a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  display: inline-block;
}

.navbar-list a:hover {
  background-color: #ff4800;
}
