<h1>Proyecto Angular</h1>

<!-- Carrusel de imágenes -->
<div class="carousel">
  <div class="carousel-track">
    <img src="../../assets/images/1.webp" alt="Imagen 1">
    <img src="../../assets/images/2.webp" alt="Imagen 2">
    <img src="../../assets/images/3.jpg" alt="Imagen 3">
  </div>

  <button class="carousel-btn prev" (click)="prevSlide()">&#10094;</button>
  <button class="carousel-btn next" (click)="nextSlide()">&#10095;</button>
</div>

<!-- Info del proyecto -->
<section class="info-proyecto">
  <h2>Sobre el proyecto</h2>
  <p>
    Este proyecto está desarrollado con <b>Angular</b> e incluye múltiples componentes y prácticas esenciales del framework, tales como 
    <b>Class Binding</b>, <b>Property Binding</b>, <b>Variables de Plantilla</b>, <b>ngIf/Else</b>, <b>ngFor</b>, así como formularios por 
    <b>plantilla</b>, <b>validaciones</b> y <b>formularios reactivos</b>.  
    También incorpora módulos de <b>comunicación entre componentes padre e hijo</b> en distintas variaciones.  
    El objetivo principal es mostrar la estructura modular del proyecto y cómo los componentes interactúan dentro de un entorno moderno utilizando Angular.
  </p>
</section>

